* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(60deg, #64e8ff, #f790c5,#ffbb62, #cdff62);
  background-size: 300% 300%;
  animation: color 8s ease-in-out infinite;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #db5395;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  
}

.nav li:hover {
  background-color: #f19595;
}

.nav li.active {
  background-color: #bf236e;
}


@media (max-width: 768px) {
  .nav {
    flex-direction: row;
  }

  .nav ul {
    flex-direction: row;
  }
}